* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: #8789C0;
    text-align: center;
    color: #6c6eab;
}

p {
    margin: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    background-color: #ffffff;
    width: 90vw;
    max-width: 34em;
    height: 43em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 1.2em 2.4em rgba(49, 10, 66, 0.25);
}

.stickman-container {
    display: flexbox;
    margin: 20px auto 20px auto;
    width: 300px;
    height: 250px;
}

#word{
    padding: 0 0 1em 0;
}

#keyboard {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

.key {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8789C0;
    border-radius: 0.25em;
    width: 3em;
    height: 3em;
    margin: 0 5px;
    color: #6c6eab;
}

.key:hover {
    background-color: #d0d1ff;
    cursor: pointer;
}

.key:active {
    background-color: #bbbced;
}

#reset {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8789C0;
    border-radius: 0.25em;
    width: 100%;
    height: 3em;
    margin: 1em;
    color: #6c6eab;
    align-self: center;
}

#reset:hover {
    background-color: #d0d1ff;
    cursor: pointer;
}

#reset:active {
    background-color: #bbbced;
}