* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: #8789C0;
    text-align: center;
    color: #6c6eab;
}

p {
    margin: 1em;
}
.container {
    font-size: 18px;
    background-color: #ffffff;
    width: 90vw;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 1.2em 2.4em rgba(49, 10, 66, 0.25);
}

canvas {
    border: #6c6eab dashed 5px;
    border-radius: 20px;
    margin: 50px;
    height: 250px;
    width: 350px;
}

.word{
    padding: 0 0 2em 0;
}

#keyboard {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 0.5em;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

.button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8789C0;
    border-radius: 0.25em;
    width: 3em;
    height: 3em;
    margin: 0 5px;
    color: #6c6eab;
}

.button:hover {
    background-color: #d0d1ff;
    cursor: pointer;
}

.button:active {
    background-color: #bbbced;
}